@{
    ViewData["Title"] = "Joel Hilton's Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<br /><br />
<div class="container text-center">
    <img src="~/img/JoelHilton.jpg" width="800" />
</div>